

.photo {
  width: 300px;
  height: 320px;
  
 
}

.photo2 {
  width: 300px;
  height: 220px;
}

/* Skills */
.w3-sofia {
  font-family: Sofia, cursive;
}


.grow {
  transition: all .3s ease-in-out;
  transform: scale(0.9);
}

.grow:hover, .grow:focus {
  transform: scale(1);